body {
	max-width: 50.5em;
	font-size: 0.85em;
	line-height: 20px;
	margin: auto;
	padding: 10px;
}

.left {
    float: left;
}
.right {
    float: right;
}

img {
	max-width: 50em;
	display: block;
	margin: auto;
	padding: 6% 0px;
}

p {
	font-size: 13px;
	font-family: "Verdana";
	margin-top: 30px;
	margin-bottom: 22px;
}
