body {
	max-width: 48em;
	font-size: 0.9em;
	line-height: 20px;
	margin: auto;
	padding: 10px;
}

.left {
    float: left;
}
.right {
    float: right;
}

img {
	max-width: 100%;
	display: block;
	margin: auto;
	padding: 6% 0px;
	width: 648px;
	height: auto;
}

p {
	margin-top: 30px;
	margin-bottom: 22px;
}
